<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Github Search API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/" target="_blank" rel="noopener noreferrer"><strong>GitHub</strong></a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" style="color:white;font-weight: bold;" type="submit ">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div>
        <h1 class="rainbow-text" style="text-align: center;"><span class="block-line">GitHub User Insights</span></h1>
        <h1 style="color: aliceblue;">Retrieve user and repository Information from GitHub.</h1>
        <hr>
    </div>
    <router-outlet></router-outlet>
    <a id="viewrepos" class="link out btn btn-success btn-lg text-center" routerLink="/display" routerLinkActive='active'>View Repositories</a>
</div>