#viewrepos {
    margin: 0.625rem 0rem 0rem 34.375rem;
}

.rainbow-text {
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 7px;
}

.rainbow-text .block-line>span {
    display: inline-block;
}

.block-line {
    background-image: linear-gradient(90deg, #f00, #f00, #ffb300, #ffb300);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
}